<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
</head>
<body>
    <ul>
        <% products.map((products)=>{ %>
            <li>แสดงผลสินค้า <%= products.name %> จาก .map loop</li>
            <p><%= products.descript %></p>
        <%})%>
    </ul>
</body>
</html>